version: 2.1
orbs:
   multirepo: dnephin/multirepo@0.0.7
executors:
  rust-grpc-protoc:
    docker:
      - image: externalreality/invoices-build-image
    resource_class: large

jobs:
  grpc_protocol:
    executor: rust-grpc-protoc
    steps:
      - checkout
      - run:
          name: Get Git
          command: apt update && apt install git -yy
      - run:
          name: Build GRPC Protobuf Protocols
          command: cargo build -p grpc_protocol
      - persist_to_workspace:
          root: ./grpc_protocol
          paths:
            - src
      - gen-cache-key-vars
      - save_cache:
          paths:
            - /usr/local/cargo/registry
            - target
          key: &cargo-cache-key v6-cargo-cache-{{arch}}-{{checksum "rust-version"}}-{{checksum "Cargo.lock"}}

  analysis_server:
    executor: rust-grpc-protoc
    steps:
      - checkout
      - run:
          name: Get Git
          command: apt update && apt install git -yy
      - build-service:
          display_name: Analysis Server
          package_name: analysis_server

  invoice_server:
    executor: rust-grpc-protoc
    steps:
      - checkout
      - build-service:
          display_name: Invoice Server
          package_name: invoice_server

  rating_server:
    executor: rust-grpc-protoc
    steps:
      - checkout
      - build-service:
          display_name: Rating Server
          package_name: rating_server

  invoice_cli:
    executor: rust-grpc-protoc
    steps:
      - checkout
      - build-service:
          display_name: Invoice CLI
          package_name: invoice_cli

workflows:
  version: 2
  build:
    jobs:
      - grpc_protocol:
          pre-steps:
            - plot-resource-usage
          post-steps:
            - upload-resource-usage-plot
      - analysis_server:
          pre-steps:
            - plot-resource-usage
          post-steps:
            - upload-resource-usage-plot
          requires:
            - grpc_protocol
      - invoice_server:
          pre-steps:
            - plot-resource-usage
          post-steps:
            - upload-resource-usage-plot
          requires:
            - grpc_protocol
      - rating_server:
          pre-steps:
            - plot-resource-usage
          post-steps:
            - upload-resource-usage-plot
          requires:
            - grpc_protocol
      - invoice_cli:
          pre-steps:
            - plot-resource-usage
          post-steps:
            - upload-resource-usage-plot
          requires:
            - grpc_protocol

commands:
  gen-cache-key-vars:
    description: "Generate cache key files"
    steps:
      - run:
          name: Calculate Cache Key Vars
          command: rustc --version >rust-version

  plot-resource-usage:
    description: "Start plotting the resource usage of Docker executor."
    steps:
      - run:
          name: Start collecting resource usage samples
          command: |
             plotname=plot-${CIRCLE_WORKFLOW_ID}-${CIRCLE_JOB}
             while true; do
               tstart=$(date +%s%N)                               #nanoseconds since unix epoch timestamp
               cstart=$(cat /sys/fs/cgroup/cpuacct/cpuacct.usage) #nanoseconds of cpu usage at tstart

               sleep 3 #sample interval

               tstop=$(date +%s%N)
               cstop=$(cat /sys/fs/cgroup/cpuacct/cpuacct.usage) #nanoseoncs of cpu usage at tstop

               calc() { awk "BEGIN{print $*}"; }
               cpu=$(calc "($cstop - $cstart) / ($tstop - $tstart) * 100")
               cpui=$[ ($cstop - $cstart) / ($tstop - $tstart) * 100 ]
               mem=$(cat /sys/fs/cgroup/memory/memory.usage_in_bytes  | awk '{ byte=$1 /1024/1024; print byte "m" }')
               now=$(date +%s)

               echo $now $mem $cpui
             done >> usage.dat
          background: true

  upload-resource-usage-plot:
    description: "upload a plot of the resource usage collected with the plot-resource usage command."
    steps:
        - run:
            name: Ensure plotting program is installed
            command: |
              apt update -yy
              apt install gnuplot -yy
        - run:
            name: Generate plot
            command: .circleci/usage-plot.gp usage.dat plot.png
        - store_artifacts:
            path: plot.png

  build-service:
    description: "Boilerplate Rust service build config"
    parameters:
      display_name:
        type: string
      package_name:
        type: string
    steps:
      - attach_workspace:
          at: ./grpc_protocol
      - gen-cache-key-vars
      - restore_cache:
          keys:
            - *cargo-cache-key
      - run:
          name: Check << parameters.display_name >>
          command: cargo check -p << parameters.package_name >>
      - run:
          name: Build << parameters.display_name >>
          command: cargo build -p << parameters.package_name >>
      - run:
          name: Test << parameters.display_name >>
          command: cargo test -p << parameters.package_name >>
      - save_cache:
          paths:
            - /usr/local/cargo/registry
            - target
          key: *cargo-cache-key
